@media only screen and (max-width: 767px) {
    .fb-comments {
        width: 100% !important
    }

    .fb-comments iframe[style] {
        width: 100% !important
    }

    .fb-like-box {
        width: 100% !important
    }

    .fb-like-box iframe[style] {
        width: 100% !important
    }

    .fb-comments span {
        width: 100% !important
    }

    .fb-comments iframe span[style] {
        width: 100% !important
    }

    .fb-like-box span {
        width: 100% !important
    }

    .fb-like-box iframe span[style] {
        width: 100% !important
    }
}

.fb-comments,
.fb-comments span {
    background-color: #eee
}

.fb-comments {
    margin-bottom: 20px
}
